// *************************************
//
//   Settings
//
// *************************************

// -----------Colors-------------------//

$teal: #026670;
$teal-light: #9FEDD7;

$yellow-light: #FEF9C7;
$yellow: #FCE181;

$white: #edeae5;
$black: black;

// -----------Font Sizes-------------------//


$up4: 3.75rem; //60px
$up3: 1.5rem; //24px
$up2: 1.25rem; //20px
$up1: 1.125rem; //18px
$base: 1rem; //16px
$down1: 0.75rem; //12px

// -------------------------------------
//   Font Colors
// -------------------------------------