// *************************************
//
//   Settings
//
// *************************************

// -----------Colors-------------------//

$teal: #026670;
$teal-light: #9FEDD7;
$teal-85: rgba(2,102,112,0.8);

$yellow-light: #FEF9C7;
$yellow: #FCE181;

$white: #edeae5;
$black: black;

// -----------Font Sizes-------------------//


$up5: 3.75rem; //60px
$up4: 2rem; // 32px
$up3: 1.5rem; //24px
$up2: 1.25rem; //20px
$up1: 1.125rem; //18px
$base: 1rem; //16px
$down1: 0.75rem; //12px

// -------------------------------------
//   Font Colors
// -------------------------------------

.color--teal {
  color: $teal;
}

.color--teal-85 {
  color: $teal-85;
}

.color--tealLight {
  color: $teal-light;
}

.color--yellowLight {
  color: $yellow-light;
}

.color--yellow {
  color: $yellow;
}

.color-white {
  color: $white; 
}

.color--black {
  color: $black;
  opacity: 75%;
}