// *************************************
//
//   Tools
//
// *************************************

@import "settings.scss";

// -------------------------------------
//   Bucket styles (Display)
// -------------------------------------

.bucket {
  display: block;
}

.bucket--alignCenter {
  align-items: center;
}

.bucket--spaceBetween {
  justify-content: space-between;
}

.bucket--columnReverse {
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 1024px) {
    flex-direction: inherit;
  } 
}
// -------------------------------------
//   Horizontal Line
// -------------------------------------

hr {
  border: 1px solid $teal;
}

// -------------------------------------
//   Position
// -------------------------------------

.pos--abs {
	position: absolute;
}

.pos--rel {
	position: relative;
}

// -------------------------------------
//   Margin/Padding
// -------------------------------------

.margin--auto {
  margin: 0 auto;
}

// -----------Margin: Bottom-------------------//

.mb--0 {
  margin-bottom: 0rem;
}

.mb--025 {
	margin-bottom: 0.25rem;
}

.mb--075 {
	margin-bottom: 0.75rem;
}

.mb--125 {
  margin-bottom: 1.25rem;
}

.mb--1 {
  margin-bottom: 1rem;
}

.mb--15 {
  margin-bottom: 1.5rem;
}

.mb--218 {
	margin-bottom: 2.1875rem;
}

//50px
.mb--3125 {
  margin-bottom: 3.125rem;
}

//52px
.mb--325 {
  margin-bottom: 3.25rem;
}

.mb--45 {
  margin-bottom: 4.5rem;
}

.mb--6 {
  margin-bottom: 6rem;
}

//100px
.mb--625 {
	margin-bottom: 6.25rem;
}


// -----------Margin: Top-------------------//

.mt--78 {
  margin-top: 7.8125rem;
}

// -----------Margin-Right-------------------//

//100px
.mr--625 {
	margin-right: 6.25rem;
}


// -------------------------------------
//   Text-Align
// -------------------------------------

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

// -------------------------------------
//   Width
// -------------------------------------

.width--470 {
  margin: auto;
  max-width: 90%;
  position: relative;
  width: 90%;
  @media screen and (min-width: 767px) {
    max-width: 490px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 600px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 700px;
	}
}

.width--600 {
  width: 100%;
  @media screen and (min-width: 600px) {
    width: 600px;
  } 
}

.width--95pct {
  width: 98%;
}

.width--65pct {
  width: 90%;
  @media screen and (min-width: 600px) {
    width: 70%;
  } 
}

// -------------------------------------
//   Home
// -------------------------------------

.section--home {
  margin-bottom: 4.5rem;
  display: block;
  text-align: center;
  @media screen and (min-width: 1024px) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left; 
  }
}

.section--home-rowReverse {
  margin-bottom: 4.5rem;
  text-align: center;
  @media screen and (min-width: 1024px) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left; 
  }
}