.color--teal {
  color: #026670;
}

.color--teal85 {
  color: rgba(2, 102, 112, 0.85);
}

.color--tealLight {
  color: #9FEDD7;
}

.color--yellowLight {
  color: #FEF9C7;
}

.color--yellow {
  color: #FCE181;
}

.color-white {
  color: #edeae5;
}

.color-brown {
  color: #997156;
}

.color--black {
  color: #2c2d36;
  opacity: 87%;
}

.bucket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bucket--alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bucket--spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

hr {
  border: 1px solid #026670;
}

.pos--abs {
  position: absolute;
}

.pos--rel {
  position: relative;
}

.margin--auto {
  margin: 0 auto;
}

.mb--025 {
  margin-bottom: 0.25rem;
}

.mb--075 {
  margin-bottom: 0.75rem;
}

.mb--125 {
  margin-bottom: 1.25rem;
}

.mb--15 {
  margin-bottom: 1.5625rem;
}

.mb--218 {
  margin-bottom: 2.1875rem;
}

.mb--3125 {
  margin-bottom: 3.125rem;
}

.mb--325 {
  margin-bottom: 3.25rem;
}

.mb--45 {
  margin-bottom: 4.5rem;
}

.mb--6 {
  margin-bottom: 6rem;
}

.mb--625 {
  margin-bottom: 6.25rem;
}

.mt--78 {
  margin-top: 7.8125rem;
}

.mr--625 {
  margin-right: 6.25rem;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.width--430 {
  width: 430px;
}

.width--470 {
  width: 470px;
}

.width--600 {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .width--600 {
    width: 600px;
  }
}

.width--80pct {
  width: 65%;
}

.color--teal {
  color: #026670;
}

.color--teal85 {
  color: rgba(2, 102, 112, 0.85);
}

.color--tealLight {
  color: #9FEDD7;
}

.color--yellowLight {
  color: #FEF9C7;
}

.color--yellow {
  color: #FCE181;
}

.color-white {
  color: #edeae5;
}

.color-brown {
  color: #997156;
}

.color--black {
  color: #2c2d36;
  opacity: 87%;
}

.color--teal {
  color: #026670;
}

.color--teal85 {
  color: rgba(2, 102, 112, 0.85);
}

.color--tealLight {
  color: #9FEDD7;
}

.color--yellowLight {
  color: #FEF9C7;
}

.color--yellow {
  color: #FCE181;
}

.color-white {
  color: #edeae5;
}

.color-brown {
  color: #997156;
}

.color--black {
  color: #2c2d36;
  opacity: 87%;
}

.heading-name {
  font-size: 4rem;
}

.heading-1 {
  color: #026670;
  font-family: "Basetica";
  font-size: 2rem;
  line-height: 4.062375rem;
}

.heading-2 {
  color: #026670;
  font-family: "Basetica-Bold";
  font-size: 2rem;
  line-height: 4.062375rem;
}

.heading-3 {
  font-family: "Basetica";
  font-size: 1.35rem;
  line-height: 1.2rem;
}

.heading-4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.heading-5 {
  color: #026670;
  font-size: 1.125rem;
  line-height: 1.67rem;
}

.heading-6 {
  color: #026670;
  font-size: 1rem;
  line-height: 0.9375rem;
}

.heading-7 {
  color: #026670;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.text--bold {
  font-family: "Basetica-Bold";
}

.text--ital {
  font-style: italic;
}

.text--regular {
  font-family: "Basetica";
}

.text--upperCase {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

a.text--decorationNone {
  text-decoration: none;
}

.lineHeight--1 {
  line-height: 1rem;
}

.lineHeight--13 {
  line-height: 1.3rem;
}

.lineHeight--1875 {
  line-height: 1.875rem;
}

.numberCircle {
  border-radius: 50%;
  border: 2px solid #026670;
  font-size: 1.25rem;
  line-height: 2.125rem;
  margin-right: 1.25rem;
  min-width: 2.125rem;
  height: 2.125rem;
  text-align: center;
}

.color--teal {
  color: #026670;
}

.color--teal85 {
  color: rgba(2, 102, 112, 0.85);
}

.color--tealLight {
  color: #9FEDD7;
}

.color--yellowLight {
  color: #FEF9C7;
}

.color--yellow {
  color: #FCE181;
}

.color-white {
  color: #edeae5;
}

.color-brown {
  color: #997156;
}

.color--black {
  color: #2c2d36;
  opacity: 87%;
}

.navigation {
  display: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  list-style-type: none;
  top: 0;
}

.navigation--link {
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 2em;
  text-decoration: none;
}

.navigation--link a {
  text-decoration: none;
  font-size: 1.125rem;
}

.navigation--link:hover {
  border-bottom: 4px solid #FCE181;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.color--teal {
  color: #026670;
}

.color--teal85 {
  color: rgba(2, 102, 112, 0.85);
}

.color--tealLight {
  color: #9FEDD7;
}

.color--yellowLight {
  color: #FEF9C7;
}

.color--yellow {
  color: #FCE181;
}

.color-white {
  color: #edeae5;
}

.color-brown {
  color: #997156;
}

.color--black {
  color: #2c2d36;
  opacity: 87%;
}

.image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: -webkit-transform .35s ease-out;
  transition: -webkit-transform .35s ease-out;
  transition: transform .35s ease-out;
  transition: transform .35s ease-out, -webkit-transform .35s ease-out;
  width: 100%;
}

.image-home {
  width: 100vw;
}

.image--work {
  border-radius: 10px;
  height: 100%;
  max-height: 540px;
  width: 600px;
  -o-object-position: top;
     object-position: top;
}

.bitmoji--home {
  position: relative;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .bitmoji--home {
    position: absolute;
    top: 1.5%;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .bitmoji--home {
    top: 2%;
    left: 7%;
  }
}

@media screen and (min-width: 1100px) {
  .bitmoji--home {
    left: 15%;
    width: 260px;
  }
}

@media screen and (min-width: 1300px) {
  .bitmoji--home {
    left: 18%;
  }
}

.bitmoji--page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 180px;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .bitmoji--page {
    width: 200px;
  }
}

.image--letsgo {
  width: 200px;
}

.icon {
  height: 100px;
  opacity: 85%;
  width: 100px;
}

.icon--small {
  height: 70px;
  width: 70px;
  -webkit-animation: transform 2s ease-in-out;
          animation: transform 2s ease-in-out;
}

@-webkit-keyframes transform {
  20% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes transform {
  20% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.image--writing {
  height: 225px;
}

.image--brandLogo {
  width: 150px;
  opacity: 80%;
}

.color--teal {
  color: #026670;
}

.color--teal85 {
  color: rgba(2, 102, 112, 0.85);
}

.color--tealLight {
  color: #9FEDD7;
}

.color--yellowLight {
  color: #FEF9C7;
}

.color--yellow {
  color: #FCE181;
}

.color-white {
  color: #edeae5;
}

.color-brown {
  color: #997156;
}

.color--black {
  color: #2c2d36;
  opacity: 87%;
}

.grid-container {
  margin: 0 auto;
}

.grid-row {
  max-width: 1200px;
  margin: 30px auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 406px;
  /*Define our columns */
  -ms-grid-columns: (minmax(325px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-gap: 1.5em;
}

.grid-item:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.007);
          transform: scale(1.007);
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  text-align: center;
}

.card-grid-container {
  -ms-grid-rows: auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .card-grid-container {
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    display: -ms-inline-grid;
    display: inline-grid;
  }
}

.card-item {
  display: inline;
  max-height: 550px;
  max-width: 310px;
  background: rgba(153, 113, 86, 0.25);
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.card-item--content {
  margin: 22px;
}

.brandLogo--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  .brandLogo--container {
    display: block;
  }
  .brandLogo--container * {
    display: block;
    margin: auto;
    padding-bottom: 1rem;
  }
}

.color--teal {
  color: #026670;
}

.color--teal85 {
  color: rgba(2, 102, 112, 0.85);
}

.color--tealLight {
  color: #9FEDD7;
}

.color--yellowLight {
  color: #FEF9C7;
}

.color--yellow {
  color: #FCE181;
}

.color-white {
  color: #edeae5;
}

.color-brown {
  color: #997156;
}

.color--black {
  color: #2c2d36;
  opacity: 87%;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow {
  /*NOT slideshow-container*/
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: gray;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

html {
  background-color: #edeae5;
  color: #026670;
  font-family: "Basetica", sans-serif;
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
}

body {
  margin-bottom: 2rem;
}

body a {
  text-decoration: underline;
  color: #026670;
}

.btn--cta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #026670;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 200px;
  max-width: 600px;
}

.btn--cta a {
  color: #edeae5;
  text-decoration: none;
}

.btn--cta:hover {
  background: rgba(2, 102, 112, 0.85);
}

@media only screen and (min-width: 10px) and (max-width: 500px) {
  .btn--cta .mobile-button {
    width: 100%;
  }
}

hr {
  width: 75%;
  opacity: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
/*# sourceMappingURL=styles.css.map */