// *************************************
//
//  Styles
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import "tools.scss";
@import "_settings.scss";
@import "_text.scss";

// -------------------------------------
//   Components
// -------------------------------------

@import "components/_navigation.scss";

// -------------------------------------
//  HTML
// -------------------------------------

html {
	background-color: $white;
	color: $teal;
	font-family: "Basetica", sans-serif;
	font-size: 16px;
	line-height: 1.1;
	margin: 0;
	max-height: 100vh;
	min-height: 100vh;
}

body {
	margin: 0;
	min-width: 100vw;
  min-height: 100vh;
}