// *************************************
//
//  Styles
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import "tools.scss";
@import "_settings.scss";
@import "_text.scss";

// -------------------------------------
//   Components
// -------------------------------------

@import "components/_navigation.scss";
@import "components/_assets.scss";
@import "components/_grid.scss";
@import "components/_slideshow.scss";

// -------------------------------------
//  HTML
// -------------------------------------

html {
	background-color: $white;
	color: $teal;
	font-family: "Basetica", sans-serif;
	font-size: 16px;
	line-height: 1.1;
	margin: 0;
}

body {
  a {
    text-decoration: underline;
    color: $teal;
  }
}

.btn--cta {
	align-items: center;
	background: $teal;
  border-radius: 5px;
  cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	margin: auto;
  width: 75%;
  max-width: 600px;
  a {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background: $teal-85;
  }
	@media only screen and (min-width: 600px) {
		width: 200px;
	}
}


hr {
  width: 75%;
  opacity: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}