// *************************************
//
//   Settings
//
// *************************************

@import "../_settings.scss";

// -------------------------------------
//   Images/SVGs
// -------------------------------------

// writing page 
.image {
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: transform .35s ease-out;
  width: 100%;
}

.image-home {
  width: 100vw;
}

//bitmojis

.image--parachute {
  margin-left: 15%;
  position: absolute;
  top: 7%;
  width: 250px;
}

.image--pencil {
  margin-left: 30%;
  position: absolute;
  top: 3%;
  width: 170px;
}

.image--letsgo {
  width: 200px;
}

.icon {
  height: 100px;
  opacity: 85%;
  width: 100px;
}

.icon--small {
  height: 70px;
  width: 70px;
}

.image--writing {
  height: 225px;
}

//company logos

.image--brandLogo {
  width: 150px;
  opacity: 80%;
}