// *************************************
//
//   Settings
//
// *************************************

@import "../_settings.scss";

// -------------------------------------
//   Images/SVGs
// -------------------------------------

.image {
	height: 100%;
	object-fit: cover;
	position: relative;
	transition: transform 0.35s ease-out;
	width: 100%;
}

.image-home {
	width: 100vw;
}

.image--work {
	border-radius: 10px;
	height: 100%;
	max-height: 500px;
	max-width: 620px;
	object-position: top;
	width: 100%;
}

//bitmojis

.bitmoji--home {
	position: relative;
	width: 200px;
	display: flex;
	margin: auto;
	@media screen and (min-width: 600px) {
		position: absolute;
		top: 1.5%;
		width: 250px;
		display: flex;
	}
	@media screen and (min-width: 900px) {
		top: 2%;
		left: 7%;
	}
	@media screen and (min-width: 1100px) {
		left: 15%;
		width: 260px;
	}
	@media screen and (min-width: 1300px) {
		left: 18%;
	}
}

.bitmoji--page {
	display: flex;
	position: relative;
	width: 180px;
	margin: auto;
	@media screen and (min-width: 600px) {
		width: 200px;
	}
}

.image--letsgo {
	width: 200px;
}

// icons

.icon {
	opacity: 85%;
	width: 110px;
}

.icon--home {
  margin-bottom: 1rem;
  @media screen and (min-width: 600px) {
    margin-bottom: 0rem;
  } 
}

.icon--small {
	height: 70px;
	width: 70px;
	animation: transform 2s ease-in-out;
}
@keyframes transform {
	20% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

.image--writing {
	height: 225px;
}

//company logos

.image--brandLogo {
	width: 150px;
	opacity: 80%;
}
