// *************************************
//
//   Grid
//
// *************************************

@import "../_settings.scss";

// -------------------------------------
//   Grid
// -------------------------------------

.grid-container {
  margin: 0 auto;
}

.grid-row {
  max-width: 1200px;
  margin: 30px auto;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 406px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr)); 
  grid-gap: 1.5em;
}

.grid-item {
  &:hover {
    opacity: 0.85;
    transform: scale(1.007);
  }
}

// cards

.card-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  text-align: center;
}

.card-grid-container {
  -ms-grid-rows: auto;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: left;
  @media screen and (min-width: 767px) {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    display: inline-grid;
  }
}

.card-item {
  max-width:100%;
  -ms-flex-item-align: auto;
  -ms-grid-column-align: auto;
  -ms-grid-row-align: auto;
  -webkit-align-self: auto;
  align-self: auto;
  background: $brown-light;
  box-sizing: border-box;
  display: inline;
  justify-self: auto;
  max-height: 550px;
  text-align: left;
  @media screen and (min-width: 767px) {
    max-width: 310px;
  }
}

.card-item--content {
  margin: 22px;
}

// brand-logo

.brandLogo--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 991px) {
    display: block;
    * {
      display: block;
      margin: auto;
      padding-bottom: 1rem;
    }
  }
}