// *************************************
//
//   Grid
//
// *************************************

@import "../_settings.scss";

// -------------------------------------
//   Grid
// -------------------------------------

.grid-container {
  max-width: 1335px;
  margin: 0 auto;
}

.grid-row {
  max-width: 1200px;
  margin: 30px auto;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 406px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr)); 
  grid-gap: 1em;
}

.grid-item {
  // background: orange;
  // border: 1px solid black;
  &:hover {
    opacity: 0.85;
    transform: scale(1.007);
  }
}