// *************************************
//
//   Settings
//
// *************************************

@import "../_settings.scss";

.navigation {
	align-items: center;
	height: 50px;
  list-style-type: none;
  top: 0;
}

.navigation--link {
  float: right;
  align-items: center;
  margin: 0 0 0 2em;
  text-decoration: none;
  a {
    text-decoration: none;
    font-size: $up1;
  }
  &:hover {
    border-bottom: 2px solid $teal;
  }
}
